{% extends 'layout.html' %}

{% block body %}

<div class="d-flex justify-content-around align-items-center mt-4">
  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Buses_roundel.svg/1200px-Buses_roundel.svg.png" style="width: 300px;, height: 300px;">
  </div>
  <div>
    <h4>Sorry, that page cannot be found</h4>
    <p>This might be because:</p>
    <ul>
      <li>The page you were looking for has been moved, updated or deleted</li>
      <li>You are using an old bookmark or you have typed the web address incorrectly</li>
    </ul>

    <p>Please use the navigation at the top of the page</p>
  </div>
</div>

{% endblock %}

