{% extends "layout.html" %}

{% block body %}
  <h2 class="mt-4 mb-4">History</h2>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Expected Arrivals</th>
          <th scope="col">Timestamps</th>
        </tr>
      </thead>
      <tbody>
      {% for i in d %}
        <tr>
          <td>{{i.Id}}</td>
          <td>{{i.expectedArrival}}</td>
          <td>{{i.time_timestamp}}</td>
        </tr>
  {% endfor %}
      </tbody>
    </table>
{% endblock %}


